black
ruff
mypy
tox
pytest
pytest-snapshot
structlog
pytest-structlog
line_profiler
memory_profiler
numpy
scipy
statsmodels
openpyxl
pandas[performance]
polars
ibis-framework[pandas, polars]
matplotlib
seaborn
fastcluster
requests
scikit-learn
jupyterlab
ipywidgets
ipympl
streamlit
pygwalker
statannotations
rdkit
biopython
bioinfokit
anndata
scanpy
