black
ruff
mypy
tox
numpy
scipy
statsmodels
openpyxl
pandas
polars
matplotlib
seaborn
fastcluster
statannotations
requests
scikit-learn
rdkit
biopython
bioinfokit
anndata
scanpy
jupyterlab
ipywidgets
ipympl
streamlit
pygwalker
